/* .example-card {
    width: 400px;
    margin: 10% auto;
    }
    .mat-card-title{
    font-size: 16px;
    }
    
    h2 {
        text-align: center;
    }
    span {
        display: table;
        margin: 0 auto;
    }
    a {
        color: white;
    }
   .div{
       align-items: center;
       margin: center;
   }
   h3 {
       text-align: center;
   }
     */
     
     body {
        background: #717375;
        background: linear-gradient(to right, rgb(167, 168, 240), rgb(233, 233, 233));
      }
      
      img{
        width: 200px;
        height: 200px;
        align-items: center;
        }
        .userS{
            height: auto;
            border-radius: 2rem;
        }
        .userfl{
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            /* Override default `<label>` margin */
            line-height: 1.5;
            color: #495057;
            border: 1px solid transparent;
            border-radius: .25rem;
            transition: all .1s ease-in-out;
        }
        input{
            padding: var(--input-padding-y) var(--input-padding-x);

        }
        .btn {
            font-size: 80%;
            border-radius: 5rem;
            letter-spacing: .1rem;
            font-weight: bold;
            padding: 1rem;
            transition: all 0.2s;
          }
          form{
              margin: 0 auto;
          }
     
